<div class="masthead">
  <div class="container">
    <table style="margin: 0; padding: 0">
      <tr style="margin: 0; padding: 0">
        <td style="margin: 0; padding: 0"><h1 class="masthead-title" style="margin: 0; padding: 0"><a href="/hi/index.html" style="text-decoration: none; color: #151130">Гедонистический императив</a></h1>
        <br>
        </td>
      </tr>
      <tr style="margin: 0; padding: 0"><td style="margin: 0; padding: 0"><div class="masthead-title" style="text-decoration: none; color: #151130">1995 — 2015 &#8195 <b> Дэвид Пирс</b></div></td></tr>
	</table>
  </div>
</div>
