<div class="masthead">
  <div class="container">
    <table style="margin: 0; padding: 0">
	  <tr>
		<td rowspan="2" width="120px"><img src="/assets/images/picture.png" style="float: right"></td>
        <td><h1 class="masthead-title" style="margin: 0; padding: 0"><a href="{{ site.baseurl }}/" style="text-decoration: none; color: #151130">HedWeb <small style="color: #151130">на русском</small></a></h1></td>
		<td rowspan="2" class="additional-cell"></td>
      </tr>
      <tr style="margin: 0; padding: 0"><td style="margin: 0; padding: 0"><div class="masthead-title" style="text-decoration: none; color: #151130"><h3 style="margin: 0; padding: 0">ответы на вопросы</h3></div></td></tr>
	</table>
  </div>
</div>
