<!DOCTYPE html>
<html lang="ru">

{% if page.preview %}{% include head.html nopicture=false %}{% else %}{% include head.html nopicture=true %}{% endif %}

<body>

{% include quora-head.html %}

<div class="container content">

<div class="content">

<h2>{{ page.title }}</h2>
<div class="article-info">{{ page.original_date | join: " — " }} &#8195 <b>Дэвид Пирс</b></div>
<hr style="margin-top: 0.2em; margin-bottom: 0.5em;">

{{ content }}

</div>

<hr style="margin: 8px; padding: 8px">

<a href="/index.html">► на главную</a><br>

<center>Оригинал: <a href="https://www.hedweb.com/">www.hedweb.com</a></center>

</div>

</body>

</html>
